
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
}

h2 {
    color: #333;
}

form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);




}

input[type="text"], input[type="submit"], button {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

input[type="text"] {
    background-color: #f9f9f9;
    color: #333;
}

input[type="submit"], button {
    background-color: #0288d1;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover, button:hover {
    background-color: #0277bd;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 15px;
    text-align: left;
}

th {
    background-color: #0288d1;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}


form[style='display:inline-block;'] input[type='submit'] {
    width: auto;
    padding: 5px 10px;
    margin: 0 5px;
    background-color: #f44336;
    transition: background-color 0.3s ease;
}

form[style='display:inline-block;'] input[type='submit']:hover {
    background-color: #d32f2f;
}

form[style='display:inline-block;']:last-child input[type='submit'] {
    background-color: #616161;
}

form[style='display:inline-block;']:last-child input[type='submit']:hover {
    background-color: #424242;
}
